#cart-products{
    .card-cart{
        border-bottom: 1px solid $color-primario;
        .card-body-cart{
            padding-left: 20px;
            h3, p{
                color: $color-primario;
            }
        }
        .delete{
            color: $color-primario;
        }
        .price{
            color: $color-primario;
            padding-left: 20px;
        }
    }
    .total-row{
        margin-bottom: 40px;
    }
    .total{
        color: $color-primario;
    }
    .sale{
        @extend.btn;
        padding: 12px 24px;
        text-decoration: none;
        width: fit-content;
        border-radius: 8px;
        font-size: 20px;
        margin-bottom: 40px;
    }
}
