#register{
    h2{
        font-size: 50px;
        color: $color-primario;
    }
    p, a{
        color: $color-primario;
    }
    .btn{
        position: relative;
        left: 40%;
        margin-bottom: 40px;
        background-color: $color-primario;
        color: $color-secundario;
        @include media-query-mobile(){
            left: 35%;
        }
    }
}
