#info{
    margin: 10px 0;
    background-color: $color-primario;
    h2{
        font-size: 16px;
        color: $color-secundario;
        padding-top: 10px;
    }
    .info-title{
        a{
        color: $color-secundario;
        }
    }
    .item-info{
        color: $color-secundario;
        text-decoration: none;
        &:hover{
            transform: scale(1.2, 1.2);
            transition: all 0.5s ease;
        }
    }
}
